html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
  }
#map {
    height: 30%;
    background-color: lightgreen;
  }
  .nicEdit-main {
      background-color: white;
  }